body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  text-align: center;
  min-height: 100vh;
  background-color: #F6F7F8;
  padding: 20px;
}

